body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
    background-image: url('images/rm183-wan-11.jpg');
    background-size: cover;
    background-position: calc(100% + 45px) center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns:  2fr 6fr 1fr 1em;
    grid-template-areas:
    " . . . ."
    " . navmenu navmenu ."
    " . main . ."
    " . . . ."
    " . nav nav .";

    grid-template-rows: 4rem 20% 1fr 25% auto;

}

.icon-bar { grid-area: nav; }
.nav-menu { grid-area: navmenu; }
main { grid-area: main;}

/* FLEXBOXES */
.nav-menu,
.icon-bar,
main {
    display: flex;
}

/* MULTI-SELECTORS */
.nav-menu-text,
.data,
.big-text {
    text-shadow: 2px 2px 2px #000000;
}

.nav-menu-text,
.big-text {
    color: #1cd670;
}

/* NAVAGATION MENU */
.nav-menu {
    flex-direction: column;
    align-items: end;
    margin-right: 1.95rem;
    margin-top: 0.35rem;
}

.nav-menu-text {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
    
}

.nav-menu-text:hover {
    cursor: pointer;
    color: #000000;
    text-shadow: 1px 1px 2px #000000;
}

.nav-menu a {
    text-decoration: none; 
    color: inherit; 
    background: transparent; 
    border: none; 
}

/* OFFSITE LINKS */
.icon-bar img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.icon-bar {
    justify-content: end;
    align-items: center;
    height: auto;
    padding-bottom: 1rem;

}

h2 {
    margin: 0;
    padding: 0;
}

main {
    flex-direction: column;
    justify-content: space-between;
}

.data {
    font-size: 1em;
    color: #6d6d6d;
}


.big-text {
    font-size: 1.225em;
}


